// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: "Nunito",
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$light-gray: #b4bcc8;
$gray: #f3f3f4;
$dark-gray: #292929;
$blue: #49b6d6;
$dark-blue: #337f95;
$green: #5bb644;
$red: #e35b5a;
