// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

html,
body,
#app {
    min-height: 100%;
    height: 100%;
    margin: 0;
}

nav {
    background-color: $dark-gray;
    min-height: 100vh;
    padding: 10px;
    position: relative;

    h5 {
        color: $gray;
    }

    ul {
        list-style: none;

        a,
        a:visited,
        a:active {
            color: $blue;
        }

        a:hover {
            color: $light-gray;
            text-decoration: none;
        }
    }
}

.blue {
    color: $blue;
}

.red {
    color: $red;
}

.img-wrapper {
    width: 100px;
    height: 100px;
}

.linkable {
    cursor: pointer;
}

.img-thumbnail.linkable {
    width: 100px;
    height: 100px;
    margin: 4px;
}

.full-size-img {
    width: 100%;
}

.img-wrapper {
    position: relative;
    margin: 4px;
    width: 100%;
}

.img-wrapper>.fa-trash {
    position: absolute;
    top: 10px;
    right: 20px;
    color: $red;
    cursor: pointer;
}

.input-error {
    background-color: $red;
}
