// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

html,
body {
    height: 100%;
}

nav {
    background-color: $dark-gray;
    height: 100%;
    padding: 10px;

    h5 {
        color: $gray;
    }

    ul {
        list-style: none;

        a,
        a:visited,
        a:active {
            color: $blue;
        }

        a:hover {
            color: $light-gray;
            text-decoration: none;
        }
    }
}

.blue {
    color: $blue;
}

.red {
    color: $red;
}
