@import url(https://fonts.googleapis.com/css?family=Nunito);html,
body {
  min-height: 100%;
  height: 100%;
  margin: 0;
}

nav {
  background-color: #292929;
  min-height: 100%;
  padding: 10px;
  position: relative;
}

nav h5 {
  color: #f3f3f4;
}

nav ul {
  list-style: none;
}

nav ul a,
nav ul a:visited,
nav ul a:active {
  color: #49b6d6;
}

nav ul a:hover {
  color: #b4bcc8;
  text-decoration: none;
}

.blue {
  color: #49b6d6;
}

.red {
  color: #e35b5a;
}

.img-wrapper {
  width: 100px;
  height: 100px;
}

.linkable {
  cursor: pointer;
}

.modal-body > img {
  width: 100%;
}

